body {
  font-family: Helvetica, Arial, sans-serif;
}
ul {
  padding: 0;
  margin: 0 !important;
  display: flex;
  list-style-type: none;
}

header {
  .container {
    div {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      img {
        height: 32px;
      }

      ul {
        flex-direction: row;

        li {
          padding-left: 32px;
        }
      }
    }
  }
}

.main,.subheader {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
